       h1{
            color:chocolate;
            font-size: 30px;

        }
        h2{
            color:blue;
            font-size: 25px;
        }
        p{
            color:blueviolet;
            font-size: 15px;
        }